* {
  box-sizing: border-box;
  animation-duration: 1s;
}
.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
    font-size: 72px !important;
}
.gradientText {
  font-size: 56px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  margin-bottom: 20px;
  min-height: 80px;
}

