$gradient1: #8EC5FC;
$gradient2: #E0C3FC;
$deg: 62deg;
.chatContainer {
  margin-top: 5px;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($gradient1, 0.2);
  background-image: linear-gradient($deg, rgba($gradient1, 0.2) 0%, rgba($gradient2, 0.2) 74%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(12px);
  .gradientText {
    margin: 0;
    min-height: auto;
    margin-bottom: 5px;
  }
}
.chat {
  height: 430px;
  align-self: flex-end;
  overflow-y: auto;
  width: 330px;
  padding: 0 5px;
  overflow-x: hidden;
  .message {
    margin-bottom: 10px;
    width: 320px;
    span {
      width: 100%;
      display: block;
      text-align: left;
      position: relative;
      font-weight: 600;
      font-size: 20px;
      p {
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(0, 0, 0, 0.6);
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        padding-right: 10px;
      }
    }
    p {
      word-wrap: break-word;
      text-align: left;
      font-size: 18px;
    }
  }
}
.confirmBtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: #fff;
}
